include ./situation

mixin relationship_item(relationship, hide_type, size)
  - var situation = hide_type == 'cause' ? relationship.effect : relationship.cause
  if situation.display_image
    - var img_url = 'http://api.causemap.org:5984/causemap/'+ situation.display_image.change_id +'/'+ situation.display_image.filename

    if !size || size == 'lg'
      a.display-image(
        href='/'+ (situation.alias || situation._id)
      )
        +situation_display_image(situation, 112, 72)

    else if size == 'md'
      a.display-image(
        href='/'+ (situation.alias || situation._id),
        style='background-image: url("http://api.causemap.org:8008/690x10000/'+ img_url +'");'
      )
        img.img-responsive(src='http://api.causemap.org:8008/690x10000/'+ img_url)

    else if size == 'sm'
      a.display-image(
        href='/'+ (situation.alias || situation._id),
        style='background-image: url("http://api.causemap.org:8008/224/'+ img_url +'");'
      )
        img.img-responsive(src='http://api.causemap.org:8008/224/'+ img_url)
  else
    a.empty.display-image(
      href='/'+ (situation.alias || situation._id)
    )

  .situation-section
    .meta.subdued
      if situation.location
        span.location
          | #{ situation.location }

      if situation.period
        span.period
          | #{ situation.period.text }

    h4.situation-name
      a.name(href='/'+ (situation.alias || situation._id), title=situation.name)= situation.name

    if relationship.description
      p.relationship-description= relationship.description


    span.strength
      a.upvote(
        ng-click='adjustRelationshipStrength("'+relationship._id+'", "up")',
        title='Strengthen this relationship'
      ) upvote

      a.downvote(
        ng-click='adjustRelationshipStrength("'+relationship._id+'", "down")',
        title='Weaken this relationship'
      ) downvote

    span.with-dropdown
      a.more.dropdown-toggle(data-toggle='dropdown') more
      ul.dropdown-menu(role='menu')
        li(role='presentation')
          a(data-toggle='modal', data-target='#edit-relationship-desc', ng-click='editing_relationship ="'+ relationship._id +'"; relationship_draft.description ='+ relationship.description ? JSON.stringify(relationship.description) : '""')
            if relationship.description
              | Edit this relationship's explanation
            else
              | Explain this relationship
        li(role='presentation')
          a(ng-click='markForDeletion("'+ relationship._id +'")') Delete this relationship
