mixin relationship_item(relationship, hide_type)
  - var situation = hide_type == 'cause' ? relationship.effect : relationship.causes
  if situation.display_image
    - var img_url = 'http://api.causemap.org:5984/causemap/'+ situation.display_image.change_id +'/'+ situation.display_image.filename
      a.display-image.loading(
        href='/situation/'+ situation._id,
        style='background-image: url("'+ img_url +'");'
      )
        img.img-responsive(src=img_url)

  .situation-section
    h4.situation-name
      a.name(href='/situation/'+ situation._id, title=situation.name)= situation.name

    .meta.subdued
      span.total-causes(href='/situation/'+ situation._id +'/causes')
        if situation.total_causes == 1
          | 1 Cause
        else
          | #{ situation.total_causes } Causes

      span.total-effects(href='/situation/'+ situation._id +'/effects')
        if situation.total_effects == 1
          | 1 Effect
        else
          | #{ situation.total_effects } Effects
