mixin situation_item(situation, size)
  if situation.display_image
    - var img_url = 'http://api.causemap.org:5984/causemap/'+ situation.display_image.change_id +'/'+ situation.display_image.filename

    if size == 'lg'
      a.display-image.loading(
        href='/'+ (situation.alias || situation._id),
        style='background-image: url("'+ img_url +'");'
      )
        img.img-responsive(src=img_url)

    if size == 'md' && situation.display_image.width > 690
      a.display-image.loading(
        href='/'+ (situation.alias || situation._id),
        style='background-image: url("http://api.causemap.org:8008/690x10000/'+ img_url +'");'
      )
        img.img-responsive(src='http://api.causemap.org:8008/690x10000/'+ img_url)

    if size == 'sm' && situation.display_image.width > 224
      a.display-image.loading(
        href='/'+ (situation.alias || situation._id),
        style='background-image: url("http://api.causemap.org:8008/224/'+ img_url +'");'
      )
        img.img-responsive(src='http://api.causemap.org:8008/224/'+ img_url)

    else
      a.display-image.loading(
        href='/'+ (situation.alias || situation._id),
        style='background-image: url("'+ img_url +'");'
      )
        img.img-responsive(src=img_url)

  .situation-section
    if situation.location || situation.period
      .meta.subdued
        if situation.location
          span.location
            | #{ situation.location }

        if situation.period
          span.period
            | #{ situation.period }

    h4.situation-name
      a.name(
        href='/'+ (situation.alias || situation._id), title=situation.name
      )= situation.name
