mixin situation_item(situation, size)
  if situation.display_image
    - var img_url = 'http://api.causemap.org:5984/causemap/'+ situation.display_image.change_id +'/'+ situation.display_image.filename

    if size == 'lg'
      a.loading.display-image(
        href='/'+ (situation.alias || situation._id),
        style='background-image: url("'+ img_url +'");'
      )
        img.img-responsive(src=img_url)
    else if size == 'md' && situation.display_image.width > 690
      a.loading.display-image(
        href='/'+ (situation.alias || situation._id),
        style='background-image: url("http://api.causemap.org:8008/690x10000/'+ img_url +'");'
      )
        img.img-responsive(src='http://api.causemap.org:8008/690x10000/'+ img_url)
    else if size == 'sm' && situation.display_image.width > 224
      a.loading.display-image(
        href='/'+ (situation.alias || situation._id),
        style='background-image: url("http://api.causemap.org:8008/224/'+ img_url +'");'
      )
        img.img-responsive(src='http://api.causemap.org:8008/224/'+ img_url)
    else
      a.loading.display-image(
        href='/'+ (situation.alias || situation._id),
        style='background-image: url("'+ img_url +'");'
      )
        img.img-responsive(src=img_url)
  else
    a.display-image.empty(
      href='/'+ (situation.alias || situation._id)
    )

  .situation-section
    if situation.location || situation.period
      .meta.subdued
        if situation.location
          span.location
            | #{ situation.location }

        if situation.period
          span.period
            | #{ situation.period.text }

    h4.situation-name
      a.name(
        href='/'+ (situation.alias || situation._id), title=situation.name
      )= situation.name


mixin situation_display_image(situation, width, height)
  - var img_url = 'http://api.causemap.org:5984/causemap/'+ situation.display_image.change_id +'/'+ situation.display_image.filename
  if situation.display_image.height >= situation.display_image.width
    - var cropped_height = (width/situation.display_image.width) * situation.display_image.height
    - cropped_height = Math.ceil(cropped_height)
    img.img-responsive.lazyload(
      data-srcset='//api.causemap.org:8008/?scale='+ width*2 +','+ cropped_height*2 +'&crop='+ width*2 +','+ height*2 +'&url='+ encodeURIComponent(img_url) +' 2x',
      src='//api.causemap.org:8008/?scale='+ width +','+ cropped_height +'&crop='+ width +','+ height +'&url='+ encodeURIComponent(img_url),
      title='('+ width +' / '+ situation.display_image.width +') * '+ situation.display_image.height
    )
  if situation.display_image.width > situation.display_image.height
    - var cropped_width = (height/situation.display_image.height) * situation.display_image.width
    - cropped_width = Math.ceil(cropped_width)

    if !(cropped_width > width)
      - var cropped_height = (width/situation.display_image.width) * situation.display_image.height
      - cropped_height = Math.ceil(cropped_height)
      img.img-responsive.lazyload(
        data-srcset='//api.causemap.org:8008/?scale='+ width*2 +','+ cropped_height*2 +'&crop='+ width*2 +','+ height*2 +'&url='+ encodeURIComponent(img_url),
        src='//api.causemap.org:8008/?scale='+ width +','+ cropped_height +'&crop='+ width +','+ height +'&url='+ encodeURIComponent(img_url),
        title='('+ width +' / '+ situation.display_image.width +') * '+ situation.display_image.height
      )
    else
      img.img-responsive.lazyload(
        data-srcset='//api.causemap.org:8008/?scale='+ cropped_width*2 +','+ height*2 +'&crop='+ width*2 +','+ height*2 +'&url='+ encodeURIComponent(img_url),
        src='//api.causemap.org:8008/?scale='+ cropped_width +','+ height +'&crop='+ width +','+ height +'&url='+ encodeURIComponent(img_url)
        title=situation.display_image.caption
      )

mixin situation_landscape(situation, bookmarkable)
  if situation.display_image
    a.loading.display-image(
      href='/'+ (situation.alias || situation._id),
    )
      +situation_display_image(situation, 112, 72)
  else
    a.empty.display-image(
      href='/'+ (situation.alias || situation._id)
    )

  .situation-section
    if situation.location
      .meta.subdued
        span.location
          | #{ situation.location }

    .situation-name
      a.name(
        href='/'+ (situation.alias || situation._id), title=situation.name
      )= situation.name

    .situation-details
      a.causes(href='/'+ (situation.alias || situation._id)+'/causes')
        if situation.total_causes == 1
          | #{ situation.total_causes } cause
        else
          | #{ situation.total_causes } causes
      a.effects(href='/'+ (situation.alias || situation._id)+'/effects')
        if situation.total_effects == 1
          | #{ situation.total_effects } effect
        else
          | #{ situation.total_effects } effects
      if bookmarkable
        a.bookmark(
          ng-if='session.userCtx.name',
          ng-click='toggleBookmark("'+ situation._id +'", "situation")'
        )
