mixin situation_item(situation, size)
  if situation.display_image
    - var img_url = 'http://api.causemap.org:5984/causemap/'+ situation.display_image.change_id +'/'+ situation.display_image.filename

    if size == 'lg'
      a.display-image.loading(
        href='/'+ (situation.alias || situation._id),
        style='background-image: url("'+ img_url +'");'
      )
        img.img-responsive(src=img_url)
    else if size == 'md' && situation.display_image.width > 690
      a.display-image.loading(
        href='/'+ (situation.alias || situation._id),
        style='background-image: url("http://api.causemap.org:8008/690x10000/'+ img_url +'");'
      )
        img.img-responsive(src='http://api.causemap.org:8008/690x10000/'+ img_url)
    else if size == 'sm' && situation.display_image.width > 224
      a.display-image.loading(
        href='/'+ (situation.alias || situation._id),
        style='background-image: url("http://api.causemap.org:8008/224/'+ img_url +'");'
      )
        img.img-responsive(src='http://api.causemap.org:8008/224/'+ img_url)
    else
      a.display-image.loading(
        href='/'+ (situation.alias || situation._id),
        style='background-image: url("'+ img_url +'");'
      )
        img.img-responsive(src=img_url)

  .situation-section
    if situation.location || situation.period
      .meta.subdued
        if situation.location
          span.location
            | #{ situation.location }

        if situation.period
          span.period
            | #{ situation.period }

    h4.situation-name
      a.name(
        href='/'+ (situation.alias || situation._id), title=situation.name
      )= situation.name


mixin situation_display_image(situation, width, height)
  - var img_url = 'http://api.causemap.org:5984/causemap/'+ situation.display_image.change_id +'/'+ situation.display_image.filename
  if situation.display_image.height >= situation.display_image.width
    - var cropped_height = (width/situation.display_image.width) * situation.display_image.height
    img.img-responsive.lazyload(
      data-srcset='//api.causemap.org:8008/?scale='+ width*2 +','+ cropped_height*2 +'&crop='+ width*2 +','+ height*2 +'&url='+ encodeURIComponent(img_url) +' 2x',
      src='//api.causemap.org:8008/?scale='+ width +','+ cropped_height +'&crop='+ width +','+ height +'&url='+ encodeURIComponent(img_url),
      title='('+ width +' / '+ situation.display_image.width +') * '+ situation.display_image.height
    )
  if situation.display_image.width > situation.display_image.height
    - var cropped_width = (height/situation.display_image.height) * situation.display_image.width

    if !(cropped_width > width)
      - var cropped_height = (width/situation.display_image.width) * situation.display_image.height
      img.img-responsive.lazyload(
        data-srcset='//api.causemap.org:8008/?scale='+ width*2 +','+ cropped_height*2 +'&crop='+ width*2 +','+ height*2 +'&url='+ encodeURIComponent(img_url),
        src='//api.causemap.org:8008/?scale='+ width +','+ cropped_height +'&crop='+ width +','+ height +'&url='+ encodeURIComponent(img_url),
        title='('+ width +' / '+ situation.display_image.width +') * '+ situation.display_image.height
      )
    else
      img.img-responsive.lazyload(
        data-srcset='//api.causemap.org:8008/?scale='+ cropped_width*2 +','+ height*2 +'&crop='+ width*2 +','+ height*2 +'&url='+ encodeURIComponent(img_url),
        src='//api.causemap.org:8008/?scale='+ cropped_width +','+ height +'&crop='+ width +','+ height +'&url='+ encodeURIComponent(img_url)
        title=situation.display_image.caption
      )

mixin situation_landscape(situation)
  if situation.display_image
    a.display-image(
      href='/'+ (situation.alias || situation._id),
    )
      +situation_display_image(situation, 112, 72)

  .situation-section
    if situation.location || situation.period
      .meta.subdued
        if situation.location
          span.location
            | #{ situation.location }

        if situation.period
          span.period
            | #{ situation.period }

    h4.situation-name
      a.name(
        href='/'+ (situation.alias || situation._id), title=situation.name
      )= situation.name
