extends situation

block situation-content
  script.
    mixpanel.track("situation viewed");
  #overview
    if situation.display_image
      .display-image.loading
        img.img-responsive(src='http://api.causemap.org:5984/causemap/'+ situation.display_image.change_id +'/'+ situation.display_image.filename)
    .toolbar.btn-toolbar.padded-tb
      .toolbar-text.pull-left.subdued
        em
          time.from-now(datetime=(new Date(situation.creation_date)))
      .btn-group.pull-right
        button.btn.btn-link.btn-block.dropdown-toggle(
          data-toggle='dropdown'
        )
          span.glyphicon.glyphicon-edit &nbsp;
          | Edit
        ul.dropdown-menu
          li
            a(data-toggle='modal', data-target='#edit-name') Name
          li
            a(data-toggle='modal', data-target='#edit-location') Location
          li
            a(data-toggle='modal', data-target='#edit-period') Period
          li
            a(data-toggle='modal', data-target='#edit-description') Description
          li
            a(data-toggle='modal', data-target='#edit-display-image') Display Image
          li(ng-if='!situation.marked_for_deletion')
            a(data-toggle='modal', data-target='#mark-for-deletion') Mark for Deletion
          li(ng-if='situation.marked_for_deletion')
            a(data-toggle='modal', data-target='#unmark-for-deletion')
              | Unmark for Deletion

    .row
      .col-md-12
        .situation-description(
          ng-bind-html-unsafe='situation.html_description'
        ) !{ situation.html_description }

    .row
      .col-md-12
        if situation.total_causes == 0
          h3.subdued No Causes
          p.subdued Do you know what caused this?
        else
          h3 Causes
          ol.list-unstyled.situations
            - each relationship in situation.causes
              li.situation.relationship-situation.situation-landscape(
                data-id=relationship._id
              )
                +relationship_item(relationship, 'effect')

        .btn-toolbar
          button.btn.btn-link.pull-right(
            data-toggle='modal',
            data-target='#add-relationship',
            ng-click='rel_type = "causes"'
          ) Add a Cause
          a.btn.btn-link.pull-right(
            href='/situation/'+ situation._id +'/causes',
            ng-disabled='!situation.total_causes'
          )
            | View causes

        if situation.total_effects == 0
          h3.subdued No Effects
          p.subdued
            | How has this situation effected things?
        else
          h3 Effects
          ol.list-unstyled.situations
            - each relationship in situation.effects
              li.situation.relationship-situation.situation-landscape(
                data-id=relationship._id
              )
                +relationship_item(relationship, 'cause')

        .btn-toolbar
          button.btn.btn-link.pull-right(
            data-toggle='modal',
            data-target='#add-relationship'
            ng-click='rel_type = "effects"'
          ) Add an Effect
          a.btn.btn-link.pull-right(
            href='/situation/'+ situation._id +'/effects',
            ng-disabled='!situation.total_effects'
          )
            | View effects

    .row
      .col-md-12.padded-tb
        .well
          | Is this situation inaccurate? Edit it by clicking the "Edit"!
