extends situation

block title
  if rel_type == 'effects'
    | Effects of "#{ situation.name }"
  else
    | Causes of "#{ situation.name }"

block situation-content
  if rel_type == 'effects'
    script.
      mixpanel.track("situation effects viewed");

  if rel_type == 'causes'
    script.
      mixpanel.track("situation causes viewed");

  .row
    .col-md-12
      .btn-toolbar.padded-tb
        if rel_type == 'effects'
          .toolbar-text.pull-left
            strong Effects
          button.btn.btn-primary.pull-right(
            data-toggle='modal',
            data-target='#add-relationship',
            ng-click='rel_type = "effects"'
          ) Add an Effect
        else
          .toolbar-text.pull-left
            strong Causes
          button.btn.btn-primary.pull-right(
            data-toggle='modal',
            data-target='#add-relationship',
            ng-click='rel_type = "causes"'
          ) Add a Cause

      if rel_type == 'effects'
        if situation.total_effects == 0
          h3.subdued No Effects
          p.subdued
            | How has this situation effected things?

          .btn-toolbar
            button.btn.btn-link.btn-block(
              data-toggle='modal',
              data-target='#add-relationship'
              ng-click='rel_type = "effects"'
            ) Add an Effect
        else
          ol.list-unstyled.situations
            - each hit in result.hits.hits
              li.situation.situation-landscape.relationship-situation
                +relationship_item(hit._source, 'cause')

      if rel_type == 'causes'
        if situation.total_causes == 0
          h3.subdued No Causes
          p.subdued Do you know what caused this?

          .btn-toolbar
            button.btn.btn-link.btn-block(
              data-toggle='modal',
              data-target='#add-relationship',
              ng-click='rel_type = "causes"'
            ) Add a Cause
        else
          ol.list-unstyled.situations
            - each hit in result.hits.hits
              li.situation.relationship-situation.situation-landscape
                +relationship_item(hit._source, 'effect')
