extends base

block title
  | #{ situation.name } &middot;&nbsp;

block meta-tags
  meta(
    name='description',
    content='Causes and effects of "'+ situation.name +'"'
  )

block content
  include ./partials/situation.jade
  include ./partials/relationship.jade
  script#situation-json(type='application/json')
    | !{ JSON.stringify(situation) }

  #situation.container(
    data-situation-id=situation._id,
    ng-controller='SituationCtrl'
  )
    .row
      .col-md-8
        if situation.marked_for_deletion
          .alert.alert-danger(ng-if='situation.marked_for_deletion', ng-cloak)
            p This situation has been marked for deletion.
        else
          .alert.alert-danger(ng-if='situation.marked_for_deletion', ng-cloak)
            p This situation has been marked for deletion.

        h1#situation-header
          if situation.location
            small.location(ng-bind='situation.location')= situation.location
          else
            small.location(
              ng-if='situation.location',
              ng-bind='situation.location'
            )
            small.location.default.subdued(
              ng-if='!situation.location'
            ) Everywhere

          if situation.period
            small.period(ng-bind='situation.period.text')= situation.period.text
          else
            small.period(
              ng-if='situation.period',
              ng-bind='situation.period.text'
            )
            small.period.default.subdued(
              ng-if='!situation.period'
            ) Always

          br
          a.name(
            href='/situation/'+ situation._id,
            ng-class='{ danger: situation.marked_for_deletion }',
            ng-bind='situation.name'
          )= situation.name

    .row
      .col-md-8
        block situation-content

      #situation-aside.col-md-4.hidden-sm.hidden-xs
        if similar && similar.hits.hits.length
          h4 Other situations
          ol.list-unstyled.situations
            - each hit in similar.hits.hits
              - var situation = hit._source
              li.situation.situation-landscape(data-id=situation._id)
                +situation_landscape(situation, false)


    #tags.modal.fade
      .modal-dialog.modal-sm
          .modal-content
            .modal-header
              h4.modal-title Tags
            .modal-body
              ul.tags.list-unstyled(ng-if='situation.tags.length')
                li.tag(ng-repeat='tag in situation.tags')
                  .btn-group
                    a.btn.btn-link(
                      href='/?search={{ tag.replace(" ", "+") }}'
                    ) {{ tag }}
                    a.btn.btn-link(
                      data-toggle='tooltip',
                      title='Untag',
                      ng-click='confirmUntag(tag)'
                    ) &times;
              p.subdued(ng-if='!situation.tags.length')
                | This situation doesn't have any tags

            .modal-footer
              button.btn.btn-block.btn-primary(
                ng-if='!session.userCtx.name',
                data-toggle='modal',
                data-dismiss='modal',
                data-target='#login-signup-modal',
                ng-click='auth.login_next={message: "Login or Sign-up first", click: "#add-tag-button"}'
              ) Tag this situation
              button#add-tag-button.btn.btn-block.btn-primary(
                ng-if='session.userCtx.name',
                data-toggle='modal',
                data-target='#tag',
                data-dismiss='modal'
              ) Tag this situation

    #confirm-untag.modal.fade
      .modal-dialog.modal-sm
          .modal-content
            .modal-body
              p Are you sure you want to remove the tag "{{ confirm_untag }}"?
              button.btn.btn-block.btn-primary(ng-click='untag(confirm_untag)')
                | Yes, remove the tag
              button.btn.btn-block.btn-default(data-dismiss='modal')
                | No, don't remove the tag

    #tag.modal.fade
      .modal-dialog.modal-sm
          .modal-content
            form(ng-submit='tag(tag_name.text || tag_name)')
              .modal-body
                .form-group
                  label Tag name
                  input#tag-input.form-control.typahead(
                    placeholder='eg. Civil Disobedience'
                    options='tagSuggestOptions'
                    datasets='tagSuggestDataset'
                    ng-model='tag_name'
                    sf-typeahead
                  )
              .modal-footer
                button.btn.btn-block.btn-primary(type='submit')
                  | Add tag
                button.btn.btn-block.btn-default(data-dismiss='modal')
                  | Cancel

    #edit-name.modal.fade
      .modal-dialog
          .modal-content
            form(ng-submit='createChange("name", situation_draft.name)')
              .modal-body
                .form-group
                  label Name
                  input.form-control(
                    placeholder='eg. 2014 FIFA World Cup',
                    ng-model='situation_draft.name'
                  )
              .modal-footer
                a.btn.btn-default(data-dismiss='modal') Cancel
                button.btn.btn-primary(type='submit', data-loading-text='Saving...') Save

    #edit-alias.modal.fade
      .modal-dialog
          .modal-content
            form(ng-submit='createChange("alias", situation_draft.alias)')
              .modal-body
                .form-group
                  label Alias (URL fragment)
                  input.form-control(
                    placeholder='eg. iphone-6-announced',
                    ng-model='situation_draft.alias'
                  )
              .modal-footer
                a.btn.btn-default(data-dismiss='modal') Cancel
                button.btn.btn-primary(type='submit', data-loading-text='Saving...') Save

    #edit-location.modal.fade
      .modal-dialog
          .modal-content
            form(ng-submit='createChange("location", situation_draft.location)')
              .modal-body
                .form-group
                  label Location
                  input.form-control(placeholder='eg. Montreal, Quebec', ng-model='situation_draft.location')
              .modal-footer
                a.btn.btn-default(data-dismiss='modal') Cancel
                button.btn.btn-primary(type='submit', data-loading-text='Saving...') Save

    #edit-period.modal.fade
      .modal-dialog
          .modal-content
            form(ng-submit='createChange("period", situation_draft.period)')
              .modal-body
                .form-group
                  label Period
                  input.form-control(
                    placeholder='eg. Summer 2014',
                    ng-model='situation_draft.period.text'
                  )
              .modal-footer
                a.btn.btn-default(data-dismiss='modal') Cancel
                button.btn.btn-primary(type='submit', data-loading-text='Saving...') Save

    #edit-description.modal.fade
      .modal-dialog
          .modal-content
            form(ng-submit='createChange("description", situation_draft.description)')
              .modal-body
                .form-group
                  label Description
                  textarea.form-control(
                    placeholder='Describe the situation',
                    ng-model='situation_draft.description',
                    rows='8'
                  )
              .modal-footer
                a.btn.btn-default(data-dismiss='modal') Cancel
                button.btn.btn-primary(type='submit', data-loading-text='Saving...') Save

    #edit-display-image.modal.fade
      .modal-dialog
          .modal-content
            form(ng-submit='createChange("display_image", new_display_image)')
              .modal-body
                .form-group
                  label Display Image
                  input#new-display-image-input.form-control(type='file')
                .form-group
                  label Caption
                  textarea.form-control(
                    ng-model='new_display_image_caption',
                    rows='2'
                  )
              .modal-footer
                a.btn.btn-default(data-dismiss='modal') Cancel
                button.btn.btn-primary(type='submit', data-loading-text='Saving...') Save

    #add-relationship.modal.fade
      .modal-dialog
        .modal-content
          .modal-body(ng-controller='RelationshipCtrl')
            button.close(type='button', data-dismiss='modal') &times;
            form(ng-submit='createAndAddRelationship($parent.rel_type, suggestion_query)')
              label(
                ng-if='$parent.rel_type == "causes"'
              ) What caused "{{ situation.name }}"?
              label(
                ng-if='$parent.rel_type == "effects"'
              ) What is an effect of "{{ situation.name }}"?
              input.form-control(ng-model='suggestion_query', type='search', placeholder='eg. Germany Won the 2014 World Cup', ng-change='suggestSituations(suggestion_query)')
            p(ng-if='suggestion_query && suggestion_query.length > 3')
              | press Enter to add &ldquo;{{ suggestion_query }}&rdquo; to {{
              | $parent.rel_type }} or click an existing situation below.
            ol.suggestions.situations.list-unstyled(ng-if='situationSuggestions.hits.hits')
              li.situation.situation-landscape.relationship-situation.suggestion(
                ng-repeat='suggestion in situationSuggestions.hits.hits',
                ng-init='situation = suggestion._source; img_url = "http://api.causemap.org:5984/causemap/{{ situation.display_image.change_id }}/{{ situation.display_image.filename }}"',
                ng-click='createRelationship($parent.$parent.rel_type, situation._id)'
              )
                .situation-section
                  h4.situation-name
                    small.location(
                      ng-if='situation.location',
                      ng-bind='situation.location'
                    )
                    small.location.default.subdued(
                      ng-if='!situation.location'
                    ) Everywhere

                    small &nbsp;&nbsp;&nbsp;

                    small.period(
                      ng-if='situation.period',
                      ng-bind='situation.period.text'
                    )
                    small.period.default.subdued(
                      ng-if='!situation.period'
                    ) Always

                    br
                    span.name(ng-bind='situation.name')

    #mark-for-deletion.modal.fade
      .modal-dialog.modal-sm
        .modal-content
          .modal-body
            | Are you sure you want to mark this situation for deletion?
          .modal-footer
            p
              button.btn.btn-block.btn-primary(
                type='button',
                ng-click='markForDeletion(situation_id)',
                data-dismiss='modal'
              ) Yes, mark this situation for deletion
            button.btn.btn-block.btn-default(type='button', data-dismiss='modal') Cancel

    #unmark-for-deletion.modal.fade
      .modal-dialog.modal-sm
        .modal-content
          .modal-body
            | Are you sure you want to unmark this situation for deletion?
          .modal-footer
            p
              button.btn.btn-block.btn-primary(
                type='button',
                ng-click='unmarkForDeletion(situation_id)',
                data-dismiss='modal'
              ) Yes, unmark this situation for deletion
            button.btn.btn-block.btn-default(type='button', data-dismiss='modal') Cancel

    #edit-relationship-desc.modal.fade
      .modal-dialog
          .modal-content
            form(ng-submit='createChange("description", relationship_draft.description, editing_relationship)')
              .modal-body
                .form-group
                  label Relationship Explanation
                  textarea.form-control(
                    placeholder='Describe the relationship',
                    ng-model='relationship_draft.description',
                    rows='8'
                  )
              .modal-footer
                a.btn.btn-default(data-dismiss='modal') Cancel
                button.btn.btn-primary(type='submit', data-loading-text='Saving...') Save
